$color-primary: #006064;
$color-primary-light: #428e92;
$color-primary-dark: #00363a;
$color-primary-font: #ffffff;

$color-secondary: #388e3c;
$color-secondary-light: #6abf69;
$color-secondary-dark: #00600f;
$color-secondary-font: #000000;
