@import "../../../styles/theme.scss";

.app-header {
  background-color: $color-primary;
  color: $color-primary-font;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .app-header__title {
    margin: 0;
    padding: 15px 0 10px;
  }
}